<main>
  <div id="containerlg" class="container__login container__login--disabled">
    <img src="https://github.com/IanHD04/cambiazo/blob/main/logo-login.png?raw=true" alt="Logo PetNation">
    <div class="line"></div>
    <h1 class="login__title">Iniciar Sesión</h1>
    <form id="formLogin" class="form__group form__group--login" (ngSubmit)="onLogin()">
      <div class="input__container--login">
        <input [(ngModel)]="loginData.correoElectronico" class="input__text--login" id="emaillg" type="email"
               placeholder="Email" name="txtEmaillg" required>
        <input  [(ngModel)]="loginData.contrasenia" class="input__text--login" id="psswrdlg" type="password"
               placeholder="Password" name="txtPasswordlg" required>
      </div>
      <input id="btnLogin" class="submit__btn" type="submit" value="Iniciar Sesión">
      <div class="registrarse">
        <span class="span__text">¿No tienes una cuenta?<br><a id="linkLogin" href="/register">Crea tu cuenta</a></span>
      </div>
    </form>
  </div>
</main>
