footer {
  background-color: #000;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.copyright {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
}
.footer-section{
  text-align: center;
}


