<mat-toolbar>
  <div class="container-logo">
    <img src="https://github.com/IanHD04/cambiazo/blob/main/logopetnation.png?raw=true" alt="Logo PetNation">
  </div>

  <nav class="container-nav">
    <!-- Aquí pueden ir otros elementos de navegación -->
  </nav>

  <ng-container *ngIf="currentUser && currentUser.nombre">
    <div class="user-logged">
      <mat-icon style="color: #42BAD1">person</mat-icon>
      <h1 class="user-name" >{{ currentUser.nombre }}</h1>
      <div class="container-button-logout">
        <button (click)="logout()" class="button-logout"><mat-icon style="color: #000000">exit_to_app</mat-icon></button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!currentUser || !currentUser.nombre">
    <div class="container-button">
      <button class="button-register" routerLink="/login">Iniciar Sesión</button>
    </div>
  </ng-container>

  <button mat-icon-button (click)="toggleMenu()" class="burger">
    <mat-icon style="color: #ffffff">menu</mat-icon>
  </button>

  <div class="burger-menu" *ngIf="menuOpen">
    <div class="option">
      <mat-icon style="color: #42BAD1">person</mat-icon>
      <p title="Inicio">{{ currentUser.nombre }}</p>
    </div>
    <div class="option">
      <ng-container *ngIf="currentUser && currentUser.nombre">
        <mat-icon class="exit-icon">exit_to_app</mat-icon>
        <p><a (click)="logout()" title="Cerrar Sesión">Cerrar Sesión</a></p>
      </ng-container>
      <ng-container *ngIf="!currentUser || !currentUser.nombre">
        <p><a routerLink="/login" title="Iniciar Sesión">Iniciar Sesión</a></p>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
<div class="toolbar-template"></div>
