<mat-toolbar>

  <div class="container-logo">
    <img src="https://github.com/IanHD04/cambiazo/blob/main/logopetnation.png?raw=true" alt="Logo PetNation" >
  </div>

  <nav class="container-nav">
  </nav>

  <div class="container-button">
    <button class="button-register" routerLink="/login">Iniciar Sesión</button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="burger">
    <mat-icon style="color: #ffffff">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="burger-content">
      <div class="option">
        <p><a routerLink="/home" title="Inicio">Cerrar Sesion</a></p>
      </div>
      <div class="option">
        <p><a routerLink="/donations" title="Donaciones">Donaciones</a></p>
      </div>
      <div class="option">
        <p><a routerLink="/memberships" title="Membresías">Membresías</a></p>
      </div>
    </div>
    <div class="line"></div>
    <div class="burger-content">
      <div class="option">
        <p><a title="Publicar">Publicar</a></p>
      </div>
      <div class="option">
      </div>
    </div>
  </mat-menu>

</mat-toolbar>
<div class="toolbar-template"></div>
