mat-toolbar {
  background-color: #000;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 8rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
button {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.container-logo {
  height: 70%;
  align-content: center;
}
img {
  height: inherit;
}
.container-nav {
  color: white;
  font-size: 18px;
}
.container-nav ul {
  display: flex;
}
.container-nav li:not(:last-child) {
  margin-right: 48px;
}
.button-register {
  background: #ffffff;
}

.button-logout{
  background-color: #ffffff;
  padding: 6px 8px 6px 8px;
  border-radius: 12px;
}
.container-button-logout{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
button {
  padding: 12px 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.toolbar-template {
  height: 127px;
  width: 100%;
}
.burger {
  display: none;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  top: 4.5rem;
  right: 1.5rem;
  width: 200px;
  z-index: 1000;
}
.burger-menu .option {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}
.burger-menu .option a {
  color: #000000;
  text-decoration: none;
}
.burger-menu .option a:hover {
  background-color: #ffffff;
  color: #42BAD1;
}


.option{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.exit-icon{
  color: #42BAD1
 }
.container-button {
  display: flex;
  align-items: center;
}
.user-logged{
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.user-logged h1{
  color:white;
  font-size: 1.4rem;
}

@media (max-width: 1035px) {
  .container-nav,
  .container-button,
  .container-button-logout,
  .user-logged{
    display: none;
  }
  .burger {
    display: block;
  }
  .container-logo {
    height: 60%;
  }
}
