<footer>
  <div class="row nav">
    <div class="column logo">
      <img src="https://github.com/IanHD04/cambiazo/blob/main/logopetnation.png?raw=true" alt="Logo PetNation" >
    </div>

    <ul class="column section">
      <li><a  routerLink="/home" routerLinkActive="activate" title="Inicio">Inicio</a></li>
    </ul>

    <div class="column socials">
      <h2>Socials</h2>
      <ul>
        <li><a href="#" title="Instagram"><img src="https://github.com/IanHD04/cambiazo/blob/main/instagram.png?raw=true" alt="Instagram" width="50px" height="50px"></a></li>
        <li><a href="#" title="Youtube"><img src="https://github.com/IanHD04/cambiazo/blob/main/youtube.png?raw=true" alt="Youtube" width="50px" height="50px"></a></li>
        <li><a href="#" title="Facebook"><img src="https://github.com/IanHD04/cambiazo/blob/main/facebook.png?raw=true" alt="Facebook" width="50px" height="50px"></a></li>
      </ul>
    </div>
  </div>

  <div class="row copy">
    © PetNation 2024. All Rights Reserved.
  </div>
</footer>
